$info-block-input-text-color: #c4c4c4;
$info-block-input-height: 35px;

.info-block {
    display: flex;
    justify-content: space-between;

    color: $main-text-color;
    background: $primary1;
    padding: 35px 40px;

    &__main-block {
        display: flex;
        flex-direction: column;

        margin-right: 65px;
    }

    &__image-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
    }

    &__title {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.1rem;
    }

    &__subtitle {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    &__title,
    &__subtitle {
        margin-bottom: 35px;
    }

    &__input {
        height: $info-block-input-height;
        border-radius: 30px;
        font-size: 1.4rem;
        line-height: 1.6rem;
        background: $primary2;
        color: $info-block-input-text-color;
        padding: 0 25px;
        max-width: 225px;
        border: none;
        outline: none;
    }

    &__button {
        background: $primary1;
        border-color: $primary2;
        color: $main-text-color;
    }
}
