.footer {
    position: relative;
    background: $primary2;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 37px 0;
    }

    &__social-links {
        display: flex;
        align-items: center;
    }

    &__social-links::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 120px;
        background-color: #efefef;
        height: 1px;
        box-sizing: border-box;
        width: 100%;
    }

    &__social-link {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
