.header {
    background: $primary2;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 20px 0;
    }

    &__logo-block {
        display: flex;
        align-items: center;
    }

    &__logo-img {
    }

    &__logo-title {
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 4.2rem;
        letter-spacing: 0.1em;
        color: $primary1;
        margin-left: 20px;
    }
}
