html {
  font-size: 10px;
  line-height: 10px;
  color: #000000; }

body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  margin: 0; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: underline; }

.products-layout {
  display: flex;
  justify-content: space-between; }
  .products-layout > *:not(:last-child) {
    margin-right: 30px; }

.section-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #000000; }

.callback-block {
  display: flex;
  align-items: center; }
  .callback-block__tel-namber {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000000;
    margin-right: 40px; }
  .callback-block__callback-button {
    border-color: #f13c6e !important;
    background: #ffffff; }

.default-button {
  border-radius: 40px;
  color: #000000;
  cursor: pointer;
  padding: 12px 59px;
  border: 2px solid;
  font-size: 1.4rem;
  line-height: 1.6rem; }

.product-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  text-align: center;
  padding: 20px 30px; }
  .product-cards__img {
    width: 80%;
    height: 166px;
    object-fit: contain; }
  .product-cards__title {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #333333; }
  .product-cards__price {
    font-size: 2.1rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    color: #000000; }
  .product-cards__buy-button {
    background: #f13c6e;
    color: #ffffff;
    border: none; }
  .product-cards__img, .product-cards__title, .product-cards__price {
    margin-bottom: 20px; }

.header-navigation {
  background-color: #e5e5e5; }
  .header-navigation__link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #333333; }
    .header-navigation__link:not(:last-child) {
      margin-right: 30px; }
  .header-navigation__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0; }

.header {
  background: #ffffff; }
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0; }
  .header__logo-block {
    display: flex;
    align-items: center; }
  .header__logo-title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: 0.1em;
    color: #f13c6e;
    margin-left: 20px; }

.special-products {
  background: #e5e5e5; }
  .special-products__wrapper {
    padding-top: 80px;
    padding-bottom: 100px; }
  .special-products__title {
    margin-bottom: 38px; }

.recentry-watched-products {
  background: #e5e5e5; }
  .recentry-watched-products__wrapper {
    padding: 80px 0; }
  .recentry-watched-products__title {
    margin-bottom: 38px; }
